.navbar{
  background: #007bff;
}

.nav-link, .navbar-brand{
  color: white;
}

.nav-link{
  margin-right: 1em !important;
}

a.nav-link span {padding: 5px;}

a.nav-link:hover span{
 background: #f4f4f4;
 color: #007bff;
}

.navbar-collapse{
 justify-content: flex-end;
}

.header{
  background-image: url('../images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
